.contenedor {

    border: 5px solid #e1bee7;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(3, auto);
    /*filas*/
    grid-template-columns: minmax(30px, 300px) minmax(60px, 250px);
    /*Columnas*/
    place-content: center;
    /* grid-template-areas:
    "header"
    "side main main"
    "side main main"; */

}



.item {
    border: 5px solid #00bcd4;
    font-size: 2rem;
}

